{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'VTS_Admin_Portal/css/login.css' %}">
</head>
<body>
  <div class="login-container">
    <h2> Login</h2>
    
    {% if messages %}
      <div class="error-box">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    
    <form method="POST">
      {% csrf_token %}
      
      <label for="username">Email Address</label>
      <input type="text" id="username" name="username" placeholder="Enter your email Id" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>

      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
