



{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'VTS_Admin_Portal/css/developer_list.css' %}">
{% endblock %}

{% block content %}
<div class="trainer-table-section">
  <div class="table-header">
    <h3>{{ title }} List</h3>
    <a  href="{% url 'add_trainee' %}" class="add-btn">+ Add New</a>
  </div>

  <div class="table-responsive">
    <table class="trainer-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Full Name</th>
          <th>Role</th>
           <th>Course</th>
          <th>Trainer</th>
          
          <th>Duration<span style="  display: block;
  font-size: 12px;     
  color: #666;         
  margin-top: 2px;
  line-height: 1.2;">(in weaks)</span></th>
  <th>Date<span style="  display: block;
  font-size: 12px;     
  color: #666;         
  margin-top: 2px;
  line-height: 1.2;">(for complete)</span></th>
          <th>Mobile</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for trainee in trainees %}
        <tr>
          <td>
            {% if trainee.user.profile_image %}
              <img src="{{ trainee.user.profile_image.url }}" alt="Image">
            {% else %}
              <img src="{% static 'images/default-user.png' %}" alt="Default">
            {% endif %}
          </td>
          <td>{{ trainee.user.full_name }}</td>

          <td>{{ trainee.user.role }}</td>
          <td>{{ trainee.assigned_course }}</td>
          <td>{{ trainee.assigned_trainer }}</td>
          
          <td>{{ trainee.assigned_course.duration_weeks }}</td>
                    <td>{{ trainee.end_date}}</td>

          <td>{{ trainee.user.mobile }}</td>
          <td>
            {% if trainee.user.is_active %}
              <span class="status-active">Active</span>
            {% else %}
              <span class="status-inactive">Inactive</span>
            {% endif %}
          </td>
          <td>
            <a  href="{% url 'edit_trainee' trainee.id %}"  title="Edit">
              <i class="fas fa-edit action-icon" style="color: rgb(130, 110, 245);"></i>
            </a>
            

            <a href="{% url 'delete_trainee' trainee.id %}"
   class="delete-icon"
   title="Delete"
   onclick="return confirm('Are you sure you want to delete this trainee?');">
<i class="fas fa-trash-alt action-icon" style="color: rgb(244, 74, 74);"></i></a>
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No trainee found.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}




