.exam-table-container {
  padding: 20px;
  background-color: #fff;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.table-header h3 {
  font-size: 24px;
  font-family: 'Urbanist';
  font-weight: 600;
}

.add-btn {
  background-color: #d9f274;
  padding: 10px 18px;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-family: 'Urbanist';
}

.table-wrapper {
  overflow-x: auto;
}

.exam-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f6f6f6;
}

.exam-table th,
.exam-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 16px;
}

.exam-table th {
  background-color: #d9f274;
}

.action-icons img {
  width: 20px;
  margin-right: 8px;
  cursor: pointer;
}
