{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'VTS_Admin_Portal/css/exam_list.css' %}">
{% endblock %}

{% block content %}

<div class="admin-dashboard-header">
  <!-- Part 1: Greeting -->
 <div class="greeting">
  <h3>{{ greeting }}!!!</h3>
  <p>It's {{ today|date:"l, d F Y" }}</p>
</div>

  <!-- Part 2: Search Box -->
  <!-- <div class="search-box">
    <input type="text" placeholder="Search Trainees..." />
    <div class="search-icon">
      <img src="{% static 'images/search.png' %}" alt="Search Icon" />
    </div>
  </div> -->

  <div class="search-box">
  <form method="get" action="{% url 'developer_exam' %}">
    <input
      type="text" autocomplete="off"
      
      name="e" 
      placeholder="Trainer/Course/Y-M-D"
      value="{{ search_exam }}"
    

    />
    
    <!-- Keep the role as hidden so it's not lost on search -->

    <div class="search-icon">
      <button type="submit" style="background: none; border: none;">
        <img src="{% static 'images/search.png' %}" alt="Search Icon" />
      </button>
    </div>
  </form>
  <!-- <span style="top: 10px; font-size: 10px; left: 10px;">Search by Course, Date(YYYY-MM-DD)</span> -->

</div>


  <!-- Part 3: Notification & Login -->
  <div class="icon-group">
    <!-- <div class="notification-icon">
      <img src="{% static 'images/notifi.jpg' %}" alt="Notifications" />
      <span class="badge">3</span>
    </div> -->
    <div class="login-icon">
      <a href="{% url 'admin_logout' %}">
      <img src="{% static 'images/logout.jpeg' %}" alt="User Login" title="logout"/>
      </a>
    </div>
  </div>
</div>
<div class="exam-table-container">
  <div class="table-header">
    <h3>Exam List</h3>
    <!-- <a href="{% url 'add_exam' %}" class="add-btn">+ Add New</a> -->
  </div>
  <div class="table-wrapper">
    <table class="exam-table">
      <thead>
        <tr>
          <th>Trainer</th>
          <th>Title</th>
          <th>Course</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>Duration (min)</th>
          <th>Total Marks</th>
          
          <th>Results</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in exams %}
        <tr>
                    <td>{{ exam.trainer }}</td>

          <td>{{ exam.title }}</td>
          <td>{{ exam.course.name }}</td>
          <td>{{ exam.date }}</td>
          <td>{{ exam.start_time }}</td>
          <td>{{ exam.duration_minutes }}</td>
          <td>{{ exam.total_marks }}</td>
<td>
  <a href="{% url 'developer_result' %}?role={{ exam.title|urlencode }}&exam_id={{ exam.id }}" 
     class="submit-btn">
     View Result
  </a>
</td>

          
        </tr>
        {% empty %}
        <tr><td colspan="7">No exams available.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
