{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'VTS_Admin_Portal/css/exam_list.css' %}">
{% endblock %}

{% block content %}
<div class="exam-table-container">
  <div class="table-header">
    <h3>Exam List</h3>
    <!-- <a href="{% url 'add_exam' %}" class="add-btn">+ Add New</a> -->
  </div>
  <div class="table-wrapper">
    <table class="exam-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Course</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>Duration (min)</th>
          <th>Total Marks</th>
          
          <th>Results</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in exams %}
        <tr>
          <td>{{ exam.title }}</td>
          <td>{{ exam.course.name }}</td>
          <td>{{ exam.date }}</td>
          <td>{{ exam.start_time }}</td>
          <td>{{ exam.duration_minutes }}</td>
          <td>{{ exam.total_marks }}</td>
          <td><a href="" class="submit-btn">view Result</a></td>
          <td class="action-icons">
           
        
        
        </td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No exams available.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
