


{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'VTS_Admin_Portal/css/practical_answer_list.css' %}">
{% endblock %}

{% block content %}

<div class="admin-dashboard-header">
  <!-- Part 1: Greeting -->
 <div class="greeting">
  <h3>{{ greeting }}!!!</h3>
  <p>It's {{ today|date:"l, d F Y" }}</p>
</div>

  <!-- Part 2: Search Box -->
  <!-- <div class="search-box">
    <input type="text" placeholder="Search Trainees..." />
    <div class="search-icon">
      <img src="{% static 'images/search.png' %}" alt="Search Icon" />
    </div>
  </div> -->
<!-- 
  <div class="search-box">
  <form method="get" action="{% url 'exam_list' %}">
    <input
      type="text"
      name="e"
      placeholder="Course / YYYY-MM-DD"
      value="{{ search_exam }}"
    

    />
    

    <div class="search-icon">
      <button type="submit" style="background: none; border: none;">
        <img src="{% static 'images/search.png' %}" alt="Search Icon" />
      </button>
    </div>
  </form>

</div> -->
  <!-- <span style="top: 10px; font-size: 10px; left: 10px;">Search by Course, Date(YYYY-MM-DD)</span> -->



  <!-- Part 3: Notification & Login -->
  <div class="icon-group">
    <!-- <div class="notification-icon">
      <img src="{% static 'images/notifi.jpg' %}" alt="Notifications" />
      <span class="badge">3</span>
    </div> -->
    <div class="login-icon">
      <a href="{% url 'admin_logout' %}">
      <img src="{% static 'images/Img 2.png' %}" alt="User Login" title="logout"/>
      </a>
    </div>
  </div>
</div>
 <div class="container">

  
    <h2>Practical Answers</h2>

    <table>
      <thead>
        <tr>
          <th>Trainee</th>
          <th>Question</th>
          <th>Course</th>
          <th>Submitted At</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        {% for answer in answers %}
        <tr>
          <td>{{ answer.trainee.user.full_name }}</td>
          <td>{{ answer.question.title }}</td>
          <td>{{ answer.question.course.name }}</td>
          <td>{{ answer.submitted_at|date:"d M Y, h:i A" }}</td>
          <td>
            <a href="{{ answer.answer_pdf.url }}" target="_blank" class="download-btn">Download</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No answers uploaded yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}



