{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'VTS_Admin_Portal/css/trainee_card_list.css' %}">
{% endblock %}

{% block content %} 
<div class="trainee-list-section">
  <div class="section-header">
    <h3>Trainee List > {{selected_class_mode}}</h3>
    <!-- <a href="{% url 'add_trainee' %}" class="add-btn">+ Add Trainee</a> -->
  </div>

  <div class="trainee-card-container">
    {% for trainee in trainees %}
    <div class="trainee-card">
      <div class="top-row">
{% if trainee.user.profile_image %}
  <img src="{{ trainee.user.profile_image.url }}" alt="Trainee" style="width: 70px; height: 70px; margin-left: 16px;">
{% else %}
  <img src="{% static 'images/img 1.png' %}" alt="Default Profile" style="width: 70px; height: 70px; margin-left: 16px;">
{% endif %}        <div class="top-details">
          <p class="trainee-name">{{ trainee.user.full_name }}</p>
          <div class="action-icons" style="margin-top: -42px;">
            <a href="{% url 'edit_trainee' trainee.id %}?role={{selected_role}}" title="Edit">
            <img src="{% static 'images/edit.png' %}" alt="Edit" class="action-icon edit-icon">
            </a>
            <!-- <a href="{% url 'delete_trainee' trainee.id %}?role={{selected_role}}" title="Delete" onclick="return confirm('Are you sure?');">
              <i class="fas fa-trash-alt action-icon" style="color: rgb(244, 74, 74);"></i>
            </a> -->
          </div>
        </div>
      </div>

      <div class="middle-info">
        <p><strong>Duration :</strong><bold> {{ trainee.assigned_course.duration_weeks }} - weeks </bold></p>
        <p><strong>Course Name :</strong><bold> {{ trainee.assigned_course }}</bold></p>
        <p><strong>Class Mode :</strong><bold> {{ trainee.get_class_mode_display }}</bold></p>
      </div>

      <div class="bottom-info">
        <p style="margin-left: 22px;">            <img src="{% static 'images/Mail id.png' %}" alt="Edit" class="action-icon edit-icon" style="margin-right: 8px; vertical-align: middle;"
>
{{ trainee.user.email }}</p>
        <p style="margin-left: 22px;">            <img src="{% static 'images/Phone.png' %}" alt="Edit" class="action-icon edit-icon" style="margin-right: 8px; vertical-align: middle;"
>
 {{ trainee.user.mobile }}</p>
       <div id="view_more" style="margin-top: -38px;">
      
        <button 
    class="view_more" 
    onclick="openTraineeModal(
        '{{ trainee.user.full_name }}',
        '{{ trainee.get_gender_display }}',
        '{{ trainee.dob }}',
        '{{ trainee.get_class_mode_display }}',
        '{{ trainee.assigned_course }}',
        '{{ trainee.assigned_trainer }}',
        '{{ trainee.start_date }}',
        '{{ trainee.end_date }}',
        '{{ trainee.address_line1 }} {{ trainee.address_line2 }}, {{ trainee.city }}, {{ trainee.state }}, {{ trainee.postal_code }}, {{ trainee.country }}',
        '{{ trainee.is_active }}',
        '{{ trainee.date_joined }}',
        '{{ trainee.user.profile_image.url }}'
    )" >
    View more
</button>  



      </div>
      </div>
     
    </div>
    {% empty %}
      <p>No trainees found.</p>
    {% endfor %}
  </div>
</div>


<div id="traineeModal" class="modal" >
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="profile-pic">
      <img id="modalImage" src="" alt="Trainee Image">
    </div>
    <div class="trainee-info">
      <h2 id="modalName"></h2>
      <table class="trainee-table">
    <tbody>
      <tr>
        <td>Gender</td>
        <td id="modalGender"></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td id="modalDob"></td>
      </tr>
      <tr>
        <td>Class Mode</td>
        <td id="modalClassMode"></td>
      </tr>
      <tr>
        <td>Assigned Course</td>
        <td id="modalCourse"></td>
      </tr>
      <tr>
        <td>Assigned Trainer</td>
        <td id="modalTrainer"></td>
      </tr>
      <tr>
        <td>Start Date</td>
        <td id="modalStartDate"></td>
      </tr>
      <tr>
        <td>End Date</td>
        <td id="modalEndDate"></td>
      </tr>
      <tr>
        <td>Address</td>
        <td id="modalAddress"></td>
      </tr>
      <tr>
        <td>Is Active</td>
        <td id="modalStatus"></td>
      </tr>
      <!-- <tr>
        <td>Date Joined</td>
        <td id="modalDateJoined"></td>
      </tr> -->
    </tbody>
  </table>
    </div>
  </div>
</div>



{% endblock %}
